<p id="notice"><%= notice %></p>

<h1>Listing Flairs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flairs.each do |flair| %>
      <tr>
        <td><%= flair.name %></td>
        <td><%= flair.category %></td>
        <td><%= flair.content %></td>
        <td><%= link_to 'Show', flair %></td>
        <td><%= link_to 'Edit', edit_flair_path(flair) %></td>
        <td><%= link_to 'Destroy', flair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flair', new_flair_path %>
